@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* skeleton of page */
body {
    display: flex;
    flex-direction: row;
    font-family: Roboto, sans-serif;
}

.splash {
    flex: 1;
    height: 100vh;
    position: relative;
}

.splash-image{
    width: 100%;
    height: 100vh;
}

.content {
    flex: 2;
    display: flex;
    flex-direction:  column;
    height: 100vh;
}

.text-container,
.form-container,
.button-container {
    flex: 1;
}

/* Splash image section */
.logo {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;
    width: 100%;
}

.logo>p {
   color: white;
   margin-left: 10px;
   font-family: norsebold;
   font-size: 72px;
}

.logo>img {
    height: 100px;
    width: auto;
}

.attribution {
    background: none;
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: white;
    font-size: 20px;
}

a,
a:visited {
    color: white;
}

/* Content sections */
/* Text section */
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 40px;
    background-color: rgb(250, 250, 250);
}

.text-container>div {
    flex: 1;
}

p + p + p{
    margin-top: 20px;
}

p {
    font-size: 24px;
    max-width: 80ch;
    font-weight: 500;
    line-height: 1.5;
}

/* Form section */
.form-container{
    padding-left: 40px;
}

form {
    display: flex;
    flex-direction: row;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    flex: 1.2;
}

.left{
    margin-right: 20px;
}

.placeholder {
    flex: 1;
}

.left>div,
.right>div {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.form-container > p {
    padding-top: 10px;
    font-size: 24px;
    font-weight: 500;
}

input {
    font-size: 24px;
    width: 80%;
    height: 36px;
    border-radius: 8px;
}

label {
    font-size: 15px;
    text-transform: capitalize;
    color:rgb(50, 50, 50);
}

input:focus {
    outline: none;
    border: 2px solid blue;
    box-shadow: 2px 2px 2px gray;
}

input[type="password"]:invalid {
    outline: none;
    border: 2px solid red;
}

/* Button section */

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 40px;
    padding-top: 40px;
    background-color: rgb(250, 250, 250);
}

button[type="submit"] {
    background-color: #596D48;
    width: 20%;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 10px;
}

button[type="submit"]:hover{
    cursor: pointer;
}

.button-container > p {
    margin-top: 40px;
}

.button-container > p > a {
    color:#596D48;
    text-decoration: none;
}

