@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* skeleton of page */
body {
    display: flex;
    flex-direction: row;
    font-family: Roboto, sans-serif;
}

.splash {
    flex: 1;
    height: 100vh;
    position: relative;
}

.splash-image{
    width: 100%;
    height: 100vh;
}

.content {
    flex: 2;
    display: flex;
    flex-direction:  column;
    height: 100vh;
}

.text-container,
.form-container,
.button-container {
    flex: 1;
}

/* Splash image section */
.logo {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;
    width: 100%;
}

.logo>p {
   color: white;
   margin-left: 10px;
   font-family: norsebold;
   font-size: 72px;
}

.logo>img {
    height: 100px;
    width: auto;
}

.attribution {
    background: none;
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: white;
    font-size: 20px;
}

a,
a:visited {
    color: white;
}

/* Content sections */
/* Text section */
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 40px;
}

.text-container>div {
    flex: 1;
}

p + p + p{
    margin-top: 20px;
}

p {
    font-size: 20px;
    max-width: 80ch;
    font-weight: 500;
    line-height: 1.5;
}